body {
	background-image: url("https://s10.postimg.org/umloozyy1/Kali_Yantra.jpg");
	background-size: 100% auto;
	background-position: center;
}

.hard-to-see {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}





.resize-div {
	overflow: hidden;
	resize: both;
}
.resize-iframe {
	height: 100%;
	width: 100%;
	border: none;
}
		
.ad {
	float: right;
	width: 250px;
}
		
/* Create two equal columns that floats next to each other */
/*
.column2 {
	float: left;
	width: 50%;
}
.column3 {
	float: left;
	width: 33%;
}
.column4 {
	float: left;
	width: 25%;
}
*/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media (min-width: 1000px) {
	.column2 {
		float: left;
		width: 50%;
	}
	.column3 {
		float: left;
		width: 33%;
	}
	.column4 {
		float: left;
		width: 25%;
	}
}
@media (max-width: 999px)
 and   (min-width: 800px) {
	.column2 {
		width: 100%;
	}
	.column3 {
		float: left;
		width: 33%;
	}
	.column4 {
		float: left;
		width: 25%;
	}
}
@media (max-width: 799px)
 and   (min-width: 600px) {
	.column2 {
		width: 100%;
	}
	.column3 {
		width: 100%;
	}
	.column4 {
		float: left;
		width: 25%;
	}
}
@media (max-width: 599px) {
	.column2 {
		width: 100%;
	}
	.column3 {
		width: 100%;
	}
	.column4 {
		width: 100%;
	}
}

		
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}	
		
		
		
.image { 
	position: relative;
	width: 100%; /* for IE 6 */
}

.image-text {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
}







/*p {
	display:inline-block;
}
*/

blockquote {
	text-align: center;
}

details {
	display: inline-block;
}

.dropdown-content {
    display: none;
}

details:hover .dropdown-content {
    display: block;
}



.hidden {
	display: inline-block;
}
.show-content {
    display: none;
}
.hidden:hover .show-content {
    display: block;
}





* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -32px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 32px; /* .push must be the same height as .footer */
}






.clear {
	clear: both;
}



/*
.wrapword {
    white-space: -moz-pre-wrap !important;  / * Mozilla, since 1999            * /
    white-space: -pre-wrap;                 / * Opera 4-6                      * /
    white-space: -o-pre-wrap;               / * Opera 7                        * /
    white-space: pre-wrap;                  / * css-3                          * /
    word-wrap: break-word;                  / * Internet Explorer 5.5+         * /
    white-space: -webkit-pre-wrap;          / * Newer versions of Chrome/Safari* /
    word-break: break-all;
    white-space: normal;
}
*/



/*
.example-animation {
	background-color: red;
	width:  100px;
	height: 100px;
	animation-name: example;
	animation-iteration-count: infinite;
	animation-play-state: play;
	animation-duration: / *0.12771392082s* / 1s;
	-webkit-animation-name: example; / * Safari 4.0 - 8.0 * /
    -webkit-animation-duration: 4s; / * Safari 4.0 - 8.0 * /
}
/ * Safari 4.0 - 8.0 * /
@-webkit-keyframes example {
	from	{ background-color: red; }
	to		{ background-color: black; }
}
@keyframes example {
	from	{ background-color: red; }
	to		{ background-color: black; }
}
*/


#shiva {
	background-color: white;
	animation-name: shiva;
	animation-iteration-count: infinite;
	animation-play-state: play;
	animation-duration: 1s;
}
@keyframes shiva {
	from	{ background-color: red; }
	to		{ background-color: black; }
}
