.leftcolumn   { float: left }
.centercolumn { float: left }
.rightcolumn  { float: right }
.clear { clear: both }

.hard-to-see {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid }

.white-background {
	background-color: white;
	color: black }

h1 {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	text-align: center }
h2 {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	text-align: center }
h3,h4 {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	text-align: center }

textarea {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid }

header { }

nav {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid }

footer { }

body {
	background-image: url("https://s10.postimg.org/umloozyy1/Kali_Yantra.jpg");
	background-size: 100% auto }

#cnsl-table {
	background-image: url("Kali_yantra_color.jpg");
	background-size: 100% auto }

button {
	/* TODO use a PDL image */
	background-image: url("lord-shiva.gif");
	background-size: 100% auto;
	color: red;
	font-weight: bold }

#cnsl-button {
	background-image: url("lord-shiva.gif");
	background-size: 100% auto;
	color: red;
	font-weight: bold }

#execute-button {
	background-image: url("lord-shiva.gif");
	background-size: 100% auto;
	width: 300px;
	height: 288px;
	color: red;
	font-weight: bold }

#geolocation {
	background-color: black;
	color: green;
	border-width: 1px;
	border-color: red;
	border-style: solid }

#geolocation-button {
	background-image: url("lord-shiva.gif");
	background-size: 100% auto;
	color: red;
	font-weight: bold }

canvas {
	background-color: black;
	border-width: 1px;
	border-color: red;
	border-style: solid }

#graphics {
	background-color: black;
	border-width: 1px;
	border-color: red;
	border-style: solid }

#seva {
	background-image: url("Tara_yantra_color.jpg");
	background-size: 100% auto }

#ide {
	background-image: url("Tripura-bhairavi_yantra_color.jpg");
	background-size: 100% auto }

#testing-canvas {
	background-color: black;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	width: 300px;
	height: 300px }

.image { 
	position: relative;
	width: 100%; /* for IE 6 */
}

.image-text {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
}
